.footer {
  background-color: $c100;
  color: $default;
  &-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 55px 0;

    &__copy {
      display: flex;
      margin-top: 12%;

      h2 {
        font-size: 14px;
        line-height: 20px;
        @extend %font-r;
      }
    }
    &__menu {
      width: 160px;
      ul {
        gap: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        li {
          a {
            color: $default;
            font-size: 14px;
            line-height: 20px;
            @extend %font-r;
          }
        }
      }
    }
    &__phone {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      a {
        color: $default;
        font-size: 16px;
        line-height: 20px;
        margin-left: 11px;
      }
    }
    &__map {
      display: flex;
      align-items: center;
      p {
        color: $default;
        font-size: 16px;
        line-height: 20px;
        margin-left: 11px;
      }
    }
  }
}
// 800
@media (max-width: 800px) {
}
// 768
@media (max-width: 768px) {
}

// 600
@media (max-width: 600px) {
}

// 480
@media (max-width: 480px) {
}

// 320
@media (max-width: 320px) {
}
