.info {
  margin-top: 100px;
  &-inner {
    display: flex;
    align-items: center;
    &__text {
      width: 540px;
      margin-left: 30px;
      h2 {
        font-size: 20px;
        line-height: 30px;
        @extend %font-b;
        color: $c100;
        margin-bottom: 30px;
      }
      p + p {
        margin-top: 15px;
      }
      p {
        font-size: 13px;
        line-height: 19px;
        @extend %font-r;
        color: $c100;
      }
    }
  }
}

// 800
@media (max-width: 800px) {
  .info {
    margin-top: 50px;
    &-inner {
      &__text {
        h2 {
          margin-bottom: 20px;
        }
        p {
          font-size: 10px;
          line-height: 16px;
        }
      }
    }
  }
}

// 768
@media (max-width: 768px) {
  .info {
    margin-top: 50px;
    &-inner {
      flex-direction: column;
      &__text {
        width: 100%;
        margin-left: 0;
        h2 {
          margin: 40px 0;
        }
        p {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

// 600
@media (max-width: 600px) {
  .info {
    margin-top: 50px;
    &-inner {
      flex-direction: column;
      &__text {
        width: 100%;
        margin-left: 0;
        h2 {
          margin: 40px 0;
        }
        p {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

// 480
@media (max-width: 480px) {
  .info {
    margin-top: 50px;
    &-inner {
      flex-direction: column;
      &__text {
        width: 100%;
        margin-left: 0;
        h2 {
          margin: 40px 0;
        }
        p {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

// 320
@media (max-width: 320px) {
  .info {
    margin-top: 50px;
    &-inner {
      flex-direction: column;
      &__text {
        width: 100%;
        margin-left: 0;
        h2 {
          margin: 40px 0;
        }
        p {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}
