.menu {
  display: flex;
  &-inner {
    ul {
      display: flex;
      align-items: center;
    }
  }
}

// 768
@media (max-width: 768px) {
}

// 600
@media (max-width: 600px) {
}

// 480
@media (max-width: 480px) {
}

// 320
@media (max-width: 320px) {
}
