.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  &-inner {
    ul {
      display: flex;
      align-items: center;

      li {
        a {
          font-size: 14px;
          line-height: 20px;
          @extend %font-r;
          color: $c100;
        }
        border: 2px solid transparent;
        padding: 3px 5px;
        border-radius: 5px;
        @extend %dtrans;
        &:hover {
          border: 2px solid $c200;
          @extend %htrans;

          a {
            color: $c200;
          }
        }
      }

      li + li {
        margin-left: 40px;
      }
    }
  }
  &-lang {
    ul {
      position: absolute;
      bottom: 0;
      top: 8%;
      left: 60%;
      @extend %header-ef;
      height: 70px;
      border: 2px solid $c100;
      border-radius: 5px;
      padding: 10px;
      li {
        a {
          color: $c100;
          @extend %dtrans;
          &:hover {
            opacity: 0.6;
            @extend %htrans;
          }
        }
      }
      li + li {
        margin-top: 3px;
      }
      display: none;
      @extend %htrans;
    }

    &__select {
      margin: 0 110px;
      color: $c100;
      display: flex;
      align-items: center;
      border: 1px solid $c100;
      border-radius: 5px;
      padding: 3px 5px;
      cursor: pointer;
      br img {
        margin-left: 3px;
      }
    }
  }
  &-phone {
    display: flex;
    align-items: center;
    @extend %dtrans;
    a {
      font-size: 16px;
      line-height: 20px;
      color: $c100;
      @extend %font-b;
    }
    &:hover {
      opacity: 0.8;
      @extend %htrans;
    }
  }
}

// 800
@media (max-width: 800px) {
  .menu {
    &-inner {
      ul {
        li {
          a {
            font-size: 12px;
            line-height: 18px;
          }
        }
        li + li {
          margin-left: 10px;
        }
      }
    }
    &-lang {
      &__select {
        margin: 0 50px;
        font-size: 12px;
        line-height: 18px;
      }
    }
    &-phone {
      img {
        width: 20px;
        height: 20px;
      }
      a {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

// 768
@media (max-width: 768px) {
  .menu {
    &-inner,
    &-lang,
    &-phone {
      display: none;
    }
    justify-content: flex-end;
  }
}

// 600
@media (max-width: 600px) {
  .menu {
    &-inner,
    &-lang,
    &-phone {
      display: none;
    }
    justify-content: flex-end;
  }
}

// 480
@media (max-width: 480px) {
  .menu {
    &-inner,
    &-lang,
    &-phone {
      display: none;
    }
    justify-content: flex-end;
  }
}

// 320
@media (max-width: 320px) {
  .menu {
    &-inner,
    &-lang,
    &-phone {
      display: none;
    }
    justify-content: flex-end;
  }
}
