.modal {
  position: absolute;
  display: none;
  background: rgba(0, 29, 61, 0.5);
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  &-inner {
    width: 650px;
    position: absolute;
    bottom: 20%;
    left: 30%;
    display: flex;
    flex-direction: column;
    background: $default;
    border-radius: 5px;
    @extend %border-ef;
    &__box {
      padding: 50px 30px;

      h2 {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        color: $c100;
        @extend %font-b;
        margin-bottom: 50px;
      }
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    &__input {
      display: flex;
      gap: 30px;
      input {
        border: none;
        border-radius: 5px;
        outline: none;
        width: 350px;
        background: $c400;
        padding: 15px 30px;
        color: rgba(0, 29, 61, 0.5);
        font-size: 14px;
        line-height: 20px;
        @extend %font-r;
      }
    }
    textarea {
      padding: 15px 30px;
      color: rgba(0, 29, 61, 0.5);
      font-size: 14px;
      line-height: 20px;
      @extend %font-r;
      background: $c400;
      width: 100%;
      height: 85px;
      border: none;
      border-radius: 5px;
      outline: none;
      margin: 30px 0;
    }
    button {
      margin: 0 auto;
      width: 230px;
      height: 38px;
      @extend %glob-btn;
      @extend %dtrans;
      &:hover {
        background: $c300;
        @extend %htrans;
        color: $c200;
        box-shadow: 3px 6px 12px rgba(0, 29, 61, 0.2);
      }
    }
  }
}

// 800
@media (max-width: 800px) {
  .modal {
    z-index: 1;
    &-inner {
      top: 0;
      bottom: 0;
      width: 550px;
      left: 15%;
      top: 2%;
      height: 500px;
    }
    &-form {
      text-align: center;
      &__input {
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
        input {
          width: 400px;
          padding: 10px 30px;
          font-size: 12px;
          line-height: 18px;
        }
      }
      textarea {
        width: 400px;
        margin: 15px 0;
        font-size: 12px;
        line-height: 18px;
      }
      button {
        width: 220px;
      }
    }
  }
}
// 768
@media (max-width: 768px) {
  .modal {
    z-index: 1;
    &-inner {
      top: 0;
      bottom: 0;
      width: 550px;
      left: 15%;
      top: 2%;
      height: 500px;
    }
    &-form {
      text-align: center;
      &__input {
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
        input {
          width: 400px;
          padding: 10px 30px;
          font-size: 12px;
          line-height: 18px;
        }
      }
      textarea {
        width: 400px;
        margin: 15px 0;
        font-size: 12px;
        line-height: 18px;
      }
      button {
        width: 220px;
      }
    }
  }
}

// 600
@media (max-width: 600px) {
  .modal {
    z-index: 1;
    &-inner {
      top: 0;
      bottom: 0;
      width: 550px;
      left: 4%;
    }
    &-form {
      text-align: center;
      &__input {
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
        input {
          width: 400px;
          padding: 10px 30px;
          font-size: 12px;
          line-height: 18px;
        }
      }
      textarea {
        width: 400px;
        margin: 15px 0;
        font-size: 12px;
        line-height: 18px;
      }
      button {
        width: 220px;
      }
    }
  }
}

// 480
@media (max-width: 480px) {
  .modal {
    z-index: 1;
    &-inner {
      top: 0;
      bottom: 0;
      width: 450px;
      left: 3%;
      top: 2%;
    }
    &-form {
      &__input {
        flex-direction: column;
        gap: 15px;

        input {
          width: 400px;
          padding: 10px 30px;
          font-size: 12px;
          line-height: 18px;
        }
      }
      textarea {
        width: 400px;
        margin: 15px 0;
        font-size: 12px;
        line-height: 18px;
      }
      button {
        width: 220px;
      }
    }
  }
}

// 320
@media (max-width: 320px) {
  .modal {
    z-index: 1;
    &-inner {
      top: 0;
      bottom: 0;
      width: 290px;
      left: 5%;
      top: 2%;
    }
    &-form {
      &__input {
        flex-direction: column;
        gap: 15px;

        input {
          width: 220px;
          padding: 10px 30px;
          font-size: 12px;
          line-height: 18px;
        }
      }
      textarea {
        width: 220px;
        margin: 15px 0;
        font-size: 12px;
        line-height: 18px;
      }
      button {
        width: 220px;
      }
    }
  }
}
