<div
  class="contact"
  data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
>
  <div class="container">
    <div class="contact-inner">
      <div class="contact-form">
        <h2>How to contact us</h2>
        <div class="contact-form__phone">
          <img src="/img/svg/phone-icon.svg" alt="phone-icon" />
          <a href="tel:+38 063 23 25 253">+38 063 23 25 253</a>
        </div>
        <div class="contact-form__map">
          <img src="/img/svg/loc-icon.svg" alt="loc-icon" />
          <p>Kiev, 21 Marshala Timoshenko str.</p>
        </div>
        <form action="/" method="get|post">
          <h3>Leave a request and we will call you back</h3>

          <label for="name">
            <input type="text" placeholder="Name" />
          </label>

          <label for="phone">
            <input type="tel" placeholder="Telephone" />
          </label>

          <label>
            <textarea type="textarea" placeholder="Comment"></textarea>
          </label>
          <button type="submit">Leave a request</button>
        </form>
      </div>
      <div class="contact-logo">
        <img src="/img/contact-logo.webp" alt="contact-logo" />
      </div>
      <div class="contact-doc">
        <h2>Some documentation</h2>
        <img src="/img/contact-doc.webp" alt="contact-doc" />
      </div>
    </div>
  </div>
</div>
