<div class="dashboard" data-aos="fade-right">
  <div class="container">
    <div class="dashboard-inner">
      <div class="dashboard-inner__title">
        <h2>What we got in numbers</h2>
        <p>
          Help is needed now and will be needed in the future. We are constantly
          receiving transfers to the account. We report on every dollar we
          receive.
        </p>
        <span> This is what we have collected so far. </span>
      </div>

      <div class="dashboard-inner__diag">
        <ul>
          <li>
            <div class="dashboard-diag">
              <svg viewBox="0 0 32 32">
                <circle r="16" cx="16" cy="16" class="circle"></circle>
                <circle
                  r="16"
                  cx="16"
                  cy="16"
                  stroke-dasharray="75 100"
                  class="dashboard-diag__circle"
                ></circle>
              </svg>
              <div class="dashboard-diag__text">Collected in $%</div>
            </div>
            <button>Make a translation</button>
          </li>
          <li>
            <div class="dashboard-diag">
              <svg viewBox="0 0 32 32">
                <circle r="16" cx="16" cy="16" class="circle"></circle>
                <circle
                  r="16"
                  cx="16"
                  cy="16"
                  stroke-dasharray="75 100"
                  class="dashboard-diag__circle"
                ></circle>
              </svg>
              <div class="dashboard-diag__text">
                Collected in cryptocurrency
              </div>
            </div>
            <button>Make a translation</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
