<div class="events">
  <div class="container">
    <div class="events-inner">
      <h2>Recent events in Ukraine</h2>
      <div class="events-slider eventSwiper">
        <ul class="swiper-wrapper">
          <!--Card 1-->
          <li class="swiper-slide">
            <div class="events-slider__box">
              <img src="/img//events-img-1.webp" alt="events-img-1" />
              <p>
                Our hearts are broken by what Russia is doing to our people.
              </p>
              <span>
                What else do the occupiers need to do, how many more people need
                to be killed for Western leaders, NATO leaders to respond
                positively to Ukraine's request to close the sky?
              </span>
            </div>
          </li>
          <!--Card 2-->
          <li class="swiper-slide">
            <div class="events-slider__box">
              <img src="/img/events-img-2.webp" alt="events-img-2" />
              <p>A man lost his entire family</p>
              <span>
                Occupiers bombed his 12-year-old disabled child, wife, two
                sons-in-law, mother-in-law and family friend....
              </span>
            </div>
          </li>
          <!--Card 3-->
          <li class="swiper-slide">
            <div class="events-slider__box">
              <img src="/img/events-img-3.webp" alt="events-img-3" />
              <p>
                Thousands of families, deprived of their homes, save from the
                war not property but pets first of all.
              </p>
              <span>
                Cats, dogs, hamsters and turtles live with their owners in bomb
                shelters and cross borders. The pets are taken out of the
                burning houses together with their owners.
              </span>
            </div>
          </li>
          <!--Card 4-->
          <li class="swiper-slide">
            <div class="events-slider__box">
              <img src="/img/events-img-4.webp" alt="events-img-4" />
              <p>"Close the sky over Ukraine!"</p>
              <span>
                To tears. Watch to the end! President Vladimir Zelensky
                presented this video to the US Congress Close the sky over
                Ukraine 🇺🇦
              </span>
            </div>
          </li>
          <!--Card 1-->
          <li class="swiper-slide">
            <div class="events-slider__box">
              <img src="/img//events-img-1.webp" alt="events-img-1" />
              <p>
                Our hearts are broken by what Russia is doing to our people.
              </p>
              <span>
                What else do the occupiers need to do, how many more people need
                to be killed for Western leaders, NATO leaders to respond
                positively to Ukraine's request to close the sky?
              </span>
            </div>
          </li>
          <!--Card 2-->
          <li class="swiper-slide">
            <div class="events-slider__box">
              <img src="/img/events-img-2.webp" alt="events-img-2" />
              <p>A man lost his entire family</p>
              <span>
                Occupiers bombed his 12-year-old disabled child, wife, two
                sons-in-law, mother-in-law and family friend....
              </span>
            </div>
          </li>
          <!--Card 3-->
          <li class="swiper-slide">
            <div class="events-slider__box">
              <img src="/img/events-img-3.webp" alt="events-img-3" />
              <p>
                Thousands of families, deprived of their homes, save from the
                war not property but pets first of all.
              </p>
              <span>
                Cats, dogs, hamsters and turtles live with their owners in bomb
                shelters and cross borders. The pets are taken out of the
                burning houses together with their owners.
              </span>
            </div>
          </li>
          <!--Card 4-->
          <li class="swiper-slide">
            <div class="events-slider__box">
              <img src="/img/events-img-4.webp" alt="events-img-4" />
              <p>"Close the sky over Ukraine!"</p>
              <span>
                To tears. Watch to the end! President Vladimir Zelensky
                presented this video to the US Congress Close the sky over
                Ukraine 🇺🇦
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
