<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-inner__copy">
        <h2>© All rights reserved</h2>
      </div>
      <div class="footer-inner__menu">
        <ul>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">How to help</a>
          </li>
          <li>
            <a href="#">How to get help</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer-inner__contact">
        <div class="footer-inner__phone">
          <img src="/img/svg/footer-phone-icon.svg" alt="phone-icon" />
          <a href="tel:+38 063 23 25 253">+38 063 23 25 253</a>
        </div>
        <div class="footer-inner__map">
          <img src="/img/svg/footer-loc-icon.svg" alt="loc-icon" />
          <p>Kiev, 21 Marshala Timoshenko str.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
