<div class="gethelp">
  <div class="container">
    <div class="gethelp-inner" data-aos="fade-left">
      <h2>How you can help</h2>
      <ul>
        <!--Card 1-->
        <li>
          <div class="gethelp-card">
            <div class="gethelp-card__title">
              <img src="/img/svg/help-icon-1.svg" alt="help-icon-1" />
              <h2>Volunteering</h2>
            </div>
            <p>
              There is always work to be done at the refugee reception centers.
              You can help thousands of people with your participation.
            </p>
          </div>
        </li>
        <!--Card 2-->
        <li>
          <div class="gethelp-card">
            <div class="gethelp-card__title">
              <img src="/img/svg/help-icon-2.svg" alt="help-icon-2" />
              <h2>Material contribution</h2>
            </div>
            <p>
              Every money transfer to help the Ukrainian army brings us one step
              closer to victory.
            </p>
          </div>
        </li>
        <!--Card 3-->
        <li>
          <div class="gethelp-card">
            <div class="gethelp-card__title">
              <img src="/img/svg/help-icon-3.svg" alt="help-icon-3" />
              <h2>Merchandise and material aid</h2>
            </div>
            <p>
              In specially equipped points you can both get and bring food,
              hygiene products and warm clothes.
            </p>
          </div>
        </li>
        <!--Card 4-->
        <li>
          <div class="gethelp-card">
            <div class="gethelp-card__title">
              <img src="/img/svg/help-icon-4.svg" alt="help-icon-4" />
              <h2>Cryptoassets</h2>
            </div>
            <p>
              It is also possible to support the AFU in cryptocurrency from
              anywhere in the world.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
