<header class="header">
  <div class="container">
    <div class="header-inner">@include('menu.html')</div>
    <div class="header-content">
      <div class="header-content__img">
        <img src="/img/header-bg.webp" alt="header-img" />
      </div>
      <div class="header-content__text">
        <h1>#SUPPORT <span>UKRAINE</span></h1>
        <p>
          Are you in a difficult situation due to the war in Ukraine? Do you
          need help or do you want to help people and don't know how to do it?
          Let's unite. Let's help the world!
        </p>
        <button>Read more</button>
      </div>
    </div>
  </div>
</header>
