<div class="info">
  <div class="container">
    <div class="info-inner">
      <div class="info-inner__img">
        <img src="/img/info-img.webp" alt="info-img" />
      </div>
      <div class="info-inner__text">
        <h2>Together we are strong!</h2>
        <p>
          Millions of Ukrainian civilians suffer because of the war with Russia.
          Most are homeless and forced to leave their homes, mothers save their
          children, leave their husbands alone and go to the EU into total
          obscurity. Every Ukrainian now needs all kinds of help, whether it is
          food, water, transportation or information from a trusted source about
          a safe place to stay.
        </p>
        <p>
          There are also many people who want to help the victims, to contribute
          to the support of the AFU, but just don't know how to do it.
        </p>

        <p>
          In one place we have gathered information for both groups of people.
          Here you can send money, help financially, become a volunteer, or find
          information on how to find housing abroad.
        </p>

        <p>Join our movement! Peace in Ukraine!</p>
      </div>
    </div>
  </div>
</div>
