<menu class="menu">
  <nav class="menu-inner">
    <ul>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Как помочь</a></li>
      <li><a href="#">Как получить помощь</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </nav>
  <div class="menu-lang">
    <span class="menu-lang__select"
      >Укр <img src="/img/svg/expand-arrow.svg" alt="extend-arrow"
    /></span>
    <ul role="listbox" class="menu-lang__option">
      <li>
        <a lang="ua" hreflang="ua" data-value="ukraine" role="option" href="#"
          >Українська</a
        >
      </li>
      <li>
        <a lang="ru" role="option" data-value="russia" href="#">Руська</a>
      </li>
      <li>
        <a lang="en" role="option" data-value="english" href="#">English</a>
      </li>
    </ul>
  </div>
  <div class="menu-phone">
    <img src="/img/svg/phone-icon.svg" alt="phone-icon" />
    <a href="tel:+38 063 23 25 253"> +38 063 23 25 253</a>
  </div>
</menu>
