<div class="modal" id="modal">
  <div class="modal-inner">
    <div class="modal-inner__box">
      <h2>Leave a request and we will call you back</h2>
      <form class="modal-form">
        <label for="input" class="modal-form__input">
          <input type="text" placeholder="Name" />
          <input type="tel" placeholder="Telephone" />
        </label>
        <label for="comment">
          <textarea name="comment" placeholder="Comment"></textarea>
        </label>
        <button class="close-modal">Leave a request</button>
      </form>
    </div>
  </div>
</div>
