<div class="news">
  <div class="container">
    <div class="news-inner">
      <h2>These people have already joined our movement</h2>
      <div class="news-slider mySwiper">
        <ul class="swiper-wrapper">
          <!--Card 1-->
          <li class="swiper-slide">
            <div class="news-slider__box">
              <img src="/img/slider-img-1.webp" alt="slider-img-1" />
              <p>
                American singer Cher is ready to host Ukrainians who left the
                country because of the war.
              </p>
              <span>
                He says he will take care of them and guarantee their safety.
              </span>
            </div>
          </li>
          <!--Card 2-->
          <li class="swiper-slide">
            <div class="news-slider__box">
              <img src="/img/slider-img-2.webp" alt="slider-img-2" />
              <p>
                American singer Cher is ready to host Ukrainians who left the
                country because of the war.
              </p>
              <span>
                He says he will take care of them and guarantee their safety.
              </span>
            </div>
          </li>
          <!--Card 3-->
          <li class="swiper-slide">
            <div class="news-slider__box">
              <img src="/img/slider-img-3.webp" alt="slider-img-3" />
              <p>
                American singer Cher is ready to host Ukrainians who left the
                country because of the war.
              </p>
              <span>
                He says he will take care of them and guarantee their safety.
              </span>
            </div>
          </li>
          <!--Card 4-->
          <li class="swiper-slide">
            <div class="news-slider__box">
              <img src="/img/slider-img-4.webp" alt="slider-img-4" />
              <p>
                American singer Cher is ready to host Ukrainians who left the
                country because of the war.
              </p>
              <span>
                He says he will take care of them and guarantee their safety.
              </span>
            </div>
          </li>
          <!--Card 1-->
          <li class="swiper-slide">
            <div class="news-slider__box">
              <img src="/img/slider-img-1.webp" alt="slider-img-1" />
              <p>
                American singer Cher is ready to host Ukrainians who left the
                country because of the war.
              </p>
              <span>
                He says he will take care of them and guarantee their safety.
              </span>
            </div>
          </li>
          <!--Card 2-->
          <li class="swiper-slide">
            <div class="news-slider__box">
              <img src="/img/slider-img-2.webp" alt="slider-img-2" />
              <p>
                American singer Cher is ready to host Ukrainians who left the
                country because of the war.
              </p>
              <span>
                He says he will take care of them and guarantee their safety.
              </span>
            </div>
          </li>
          <!--Card 3-->
          <li class="swiper-slide">
            <div class="news-slider__box">
              <img src="/img/slider-img-3.webp" alt="slider-img-3" />
              <p>
                American singer Cher is ready to host Ukrainians who left the
                country because of the war.
              </p>
              <span>
                He says he will take care of them and guarantee their safety.
              </span>
            </div>
          </li>
          <!--Card 4-->
          <li class="swiper-slide">
            <div class="news-slider__box">
              <img src="/img/slider-img-4.webp" alt="slider-img-4" />
              <p>
                American singer Cher is ready to host Ukrainians who left the
                country because of the war.
              </p>
              <span>
                He says he will take care of them and guarantee their safety.
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>
