<div
  class="prog"
  data-aos="flip-right"
  data-aos-duration="3000"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
>
  <div class="container">
    <div class="prog-inner">
      <h2>Our Programs</h2>
      <ul>
        <!---Card 1-->
        <li>
          <div class="prog-card">
            <div class="prog-card__img">
              <img src="/img/program-img-1.webp" alt="program-img-1" />
            </div>
            <div class="prog-card__info">
              <div class="prog-card__title">
                <span>01</span>
                <h2>Humanitarian aid collection points in Europe</h2>
              </div>
              <p>
                All information about the points of reception of humanitarian
                aid in Europe. Addresses and contact telephone numbers of places
                where you can bring things of prime necessity.
              </p>
              <button>Learn more</button>
            </div>
          </div>
        </li>
        <!---Card 2-->
        <li>
          <div class="prog-card">
            <div class="prog-card__img">
              <img src="/img/program-img-2.webp" alt="program-img-2" />
            </div>
            <div class="prog-card__info">
              <div class="prog-card__title">
                <span>02</span>
                <h2>Receiving humanitarian aid and funds</h2>
              </div>
              <p>
                For those who are in a desperate situation, we have organized a
                service for giving humanitarian aid and funds.
              </p>
              <h3>
                Fill out an application and our volunteers will contact you.
              </h3>
              <button>Learn more</button>
            </div>
          </div>
        </li>
        <!---Card 3-->
        <li>
          <div class="prog-card">
            <div class="prog-card__img">
              <img src="/img/program-img-3.webp" alt="program-img-3" />
            </div>
            <div class="prog-card__info">
              <div class="prog-card__title">
                <span>03</span>
                <h2>Help with equipment for military protection</h2>
              </div>
              <p>
                Our army is increasingly in need of support. Not only equipment
                is needed, but also food for the soldiers. That's why every coin
                transferred to the account gives our soldiers more confidence in
                victory.
              </p>
              <button>Learn more</button>
            </div>
          </div>
        </li>
        <!---Card 4-->
        <li>
          <div class="prog-card">
            <div class="prog-card__img">
              <img src="/img/program-img-4.webp" alt="program-img-4" />
            </div>
            <div class="prog-card__info">
              <div class="prog-card__title">
                <span>04</span>
                <h2>Joining the ranks of volunteers</h2>
              </div>
              <p>
                More and more volunteers are joining the ranks of volunteers,
                but there are still not enough hands.
              </p>
              <h3>
                If you would like to join, leave an application and you will be
                contacted.
              </h3>
              <button>Learn more</button>
            </div>
          </div>
        </li>
        <!---Card 5-->
        <li>
          <div class="prog-card">
            <div class="prog-card__img">
              <img src="/img/program-img-5.webp" alt="program-img-5" />
            </div>
            <div class="prog-card__info">
              <div class="prog-card__title">
                <span>05</span>
                <h2>Housing for refugees</h2>
              </div>
              <p>
                Contacts and addresses of homes, hostels, as well as people who
                are ready to host refugees from Ukraine in different EU
                countries.
              </p>
              <button>Learn more</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
