// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  // colors
  --light-color: #fff;
  //transition
  --h-tr: all 0.5s ease;
  --d-tr: all 0.3s ease;
}

// fonts
%font-r {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

%font-b {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

//color
$c100: #001d3d;
$c200: #00509d;
$c300: #ffd500;
$default: #fff;

//button

%glob-btn {
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  @extend %font-b;
  border: none;
  padding: 10px 35px;
  color: $default;
  background: linear-gradient(
    91.77deg,
    #d00000 1.56%,
    #d00000 1.57%,
    rgba(208, 0, 0, 0.79) 100%,
    rgba(208, 0, 0, 0.79) 100%,
    rgba(208, 0, 0, 0.79) 100%
  );

  border-radius: 15px;
}

//effect
%header-ef {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 157, 0.08) 0%,
    rgba(0, 80, 157, 0) 100%
  );
}

// transition
%dtrans {
  transition: var(--d-tr);
}
%htrans {
  transition: var(--h-tr);
}
