// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  // colors
  --light-color: #fff;
}

// fonts
%font-r {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

%font-b {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

//color
$c100: #001d3d;
$c200: #00509d;
$c300: #ffd500;
$default: #fff;

//button

%glob-btn {
  background: linear-gradient(
    91.77deg,
    #d00000 1.56%,
    #d00000 1.57%,
    rgba(208, 0, 0, 0.79) 100%,
    rgba(208, 0, 0, 0.79) 100%,
    rgba(208, 0, 0, 0.79) 100%
  );
  box-shadow: 3px 6px 12px rgba(0, 29, 61, 0.2);
  border-radius: 15px;
}

//effect
%header-ef {
  background: linear-gradient(
    180deg,
    rgba(0, 80, 157, 0.08) 0%,
    rgba(0, 80, 157, 0) 100%
  );
}
